<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
    <title>Title</title>
</head>
<body class="container">
    <h1>Welcome to the details</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${topic.title}" ></h3>
                </div>
                <div class="panel-body">
                    <div th:text="${topic.description}"></div>
                    <div th:text="${topic.score}"></div>
                    <div>
                        <form action="/upVote" method="post">
                            <input type="hidden" th:value="${topic.id}" name="id"/>
                            <input class="btn btn-success" type="submit" value="+"/>
                        </form>
                        <form action="/downVote" method="post">
                            <input type="hidden" th:value="${topic.id}" name="id"/>
                            <input class="btn btn-danger" type="submit" value="-"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>